<div class="content">
    <div class="material">
        <div class="left">
            <div class="maps box">
                <div class="box-hd">
                    <h3 class="title">地图介绍（血包点)</h3>
                </div>
                <ul>
                    {{# each maps}}
                        <li><a href="/map/{{this.name_en}}" target="_blank"><img src="{{this.load_img}}" alt="" /></a><div class="intro"><span class="type"></span><span class="name">{{this.name_zh}}</span></div></li>
                    {{/each}}
                </ul>
            </div>
            <div class="blogroll box">
                <div class="box-hd">
                    <h3 class="title">直播间</h3>
                </div>
                <ul>
                    {{# each files.tvs}}
                        <li><img src="{{this.logo_img}}" alt="{{this.name}}" /></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="heros box">
            <div class="box-hd">
                <h3 class="title">英雄详解</h3>
                <div class="role">
                    <span class="role-tank" value="tank"></span>
                    <span class="role-defense" value="defense"></span>
                    <span class="role-offense" value="offense"></span>
                    <span class="role-support" value="support"></span>
                </div>
            </div>
            <ul>
                {{# each heros}}
                    <li value="{{this.name_en}}" roleType="defense"><a href="/hero/{{this.name_en}}" target="_blank"><img src="{{this.icon}}" alt="" /></a><div class="name">{{this.name_zh}}</div></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.role span').each(function () {
        $(this).click(function () {
            $('.role span.active').removeClass('active');
            $(this).addClass('active');
            var roleType = $(this).attr("value");
        });
    });
</script>
