<style media="screen">

    .top img {
        height: 503px;
        opacity: 0.45;
    }

    .map-body {
        position: relative;
    }
    .map-intro {
        height: 215px;
        padding: 20px;
    }
    .map-intro .loading-map,
    .map-intro .intro {
        display: inline-block;
        position: relative;
        height: 100%;

        overflow: hidden;
    }

    .map-intro .loading-map {
        height: 150px;
        margin: 0 20px 12.5px 10px;
        padding-right: 20px;
    }

    .map-intro .loading-map img{
        height: 100%;
    }

    .map-intro .loading-map::after {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -70px;
        content: "";
        width: 2px;
        height: 140px;
        background-color: #3a6ecc;
    }

    .map-intro .intro {
        padding-left: 0px;
        margin-left: 0px;
        width: 850px;
    }

    .map-intro .intro .country {
        margin-bottom: 5px;
        height: 25px;
    }

    .map-intro .intro .country img {
        height: 100%;
    }

    .map-intro .intro .country span {
        display: inline-block;
        position: relative;
        top: -5px;
        font-size: 20px;
    }

    .map-intro .text {
        line-height: 25px;
        display: inline-block;
    }

    .map-intro .text .origin {
        font-weight: bolder;
        color: #3A6ECC;
    }

    .map-intro .main {
        width: 100%;
    }

    .map-content .item {
        text-align: center;
        margin-bottom: 20px;
    }
    .map-content .text {
        padding: 0px 15px 0px 15px;
        text-align: left;
        text-indent: 30px;
        line-height: 25px;
    }
    .med-position .s-pot {
        margin-bottom: 20px;
    }

    .med-position .s-pot .s-pot-img {
        width: 900px;
    }
</style>
<div class="map-body">

    <div class="box map-intro">
        <div class="loading-map">
            <img src="{{mapInfo.load_img}}" alt="" />
        </div>
        <div class="intro">
            <div class="country">
                <img src="{{mapInfo.country_img}}" alt="" />
                <span>&nbsp {{mapInfo.name_zh}} </span>
            </div>
            <div class="text">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{mapInfo.introduce}}
                <br>
                <div class="origin">地图渊源 :</div>
                {{mapInfo.origin}}
            </div>
        </div>
    </div>

    <div class="box map-content">
        <div class="item">
            <div class="box-hd">
                <div class="title">
                    地图机制
                </div>
            </div>
            <br>
            <div class="text">
                {{mapInfo.typeInfo}}
            </div>
        </div>
        <div class="item">
            <div class="box-hd">
                <div class="title">
                    攻略
                </div>
            </div>
            <br>
            <div class="text">
                {{mapInfo.strategy}}
            </div>
        </div>
        <div class="item">
            <div class="box-hd">
                <div class="title">
                    血包位置
                </div>
            </div>
            <br>
            <div class="med-position">
                {{#each mapInfo.medpack_list}}
                    <div class="s-pot">
                        <div class="text">
                            {{this.intro}}
                        </div>
                        <img class="s-pot-img" src="{{this.img}}" alt="" />
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>
